.header {
    background: #006699;
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.feature {
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-background-size: cover;
    background-size: cover;
    min-height: 50rem;
    position: relative;
    padding-top: 2rem;
    padding-bottom: 0.1rem;
}
.feature:after {
    /* dark overlay over bg-image */
    position: absolute;
    z-index: 1;
    content: "";
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0,0,0,0.5);
}
.feature .container {
    position: relative;
    z-index: 2;
}
.feature-items {
    min-height: 50rem;
}
.feature-items-white {
    color: white;
}
.feature-item {
    padding: 0 2rem;
    margin: 2rem auto 5rem;
    max-width: 50rem;
}
@media (min-width: 992px) {
    .feature-item {
        padding: 0 2rem;
        margin: 2rem 0;    
    }
}
.feature-item p:last-child {
    margin-bottom: 0;
}
.teaser-item {
    max-width: 80%;
    margin: 6rem auto;
}
@media (min-width: 576px) {
    .teaser-item {
        max-width: 78rem;
        margin: 4rem auto;
    }
}
@media (min-width: 576px) {
    .teaser-item.flex-row-reverse .teaser-item__image {
        margin-left: 4rem;
    }
    .teaser-item.flex-row .teaser-item__image  {
        margin-right: 4rem;
    }
}

.footer {
    background: #006699;
    padding-top: 5rem;
    padding-bottom: 1rem;
    font-size: 1.4rem;
    line-height: 1.75;
    text-align: center;
    color: white;
}
@media (min-width: 768px) {
    .footer {
        text-align: left;
    }
}
.footer [class*="col"] {
    margin-bottom: 3rem;
}
.footer a {
    color: white;
    text-decoration: underline;
}
.footer a:hover,
.footer a:focus {
    color: #fcb215;
}

/* footer social icons */

.social a svg[class*="fa"] path {
    color: white;
}
.social a:hover svg[class*="fa"] path,
.social a:focus svg[class*="fa"] path {
    color: #fcb215;
}

/* main menu */

.main-menu {
    text-transform: uppercase;
}
.main-menu a {
    color: white;
}
.main-menu a:hover,
.main-menu a:focus {
    color: #fcb215;
}

/* mobile menu */

#mobile-menu {
    background: #006699;
    padding: 1px 0;
    text-align: center;
    text-transform: uppercase;
}
@media (min-width: 992px) {
    #mobile-menu {
        display: none !important;
    }
}
#mobile-menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
#mobile-menu li {
    display: block;
    padding: 0;
    margin: 1rem 0;
}
#mobile-menu a {
    color: white;
}
#mobile-menu a:hover,
#mobile-menu a:focus {
    color: #fcb215;
}
button.mobile-menu-toggle {
    font-size: 2.5rem;
    -webkit-appearance: none;
    -moz-appearance: none;
    color: white;
    background: none;
    border: 0;
    padding: 0;
    margin: 0;
}
